# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by istanbul
coverage

# Dependency directory
node_modules

# Compiled sources
public
build

# Data folder
data

# Temporary folder
tmp